[user]
	name = Osamu Aoki
	email = osamu@debian.org
[alias]
	c = commit -s
	ci = commit -as
	cia = commit -as --amend
	ca = commit -s --amend
	co = checkout
	a = add
	aa = add -A .
	sd = svn dcommit
	sr = svn rebase
	# for checkout to repo like /home/<user> and /root /etc
	# creating simple alias is problematic.
        # ~/bin/git-zap has priority over this
	zap = ! "echo \"\\\"git zap\\\" command disabled.\""
#	citool = gui citool
[push]
	default = simple
