[user]
	name = Osamu Aoki
	email = osamu@debian.org
	signingKey = FDCAD8AB29E281A0E004B510A04CBCEEF08BEFAD
#        $ gpg --list-secret-key --with-subkey-fingerprint
#        /home/osamu/.gnupg/pubring.gpg
#        ------------------------------
#        sec   rsa4096 2010-09-23 [SC]
#              3133724D6207881579E95D621E1356881DD8D791
#        uid           [ultimate] Osamu Aoki <osamu@debian.org>
#        ssb   rsa4096 2010-09-23 [E]
#              FDCAD8AB29E281A0E004B510A04CBCEEF08BEFAD
[alias]
	c = commit -s
	ci = commit -as
	# update author date too
	cia = commit -as --amend
	ca = commit -s --amend
	co = checkout
	a = add
	aa = add -A .
	# creating simple alias "git zap" is problematic for some repos like /home/<user> and /root /etc.
        # ~/bin/git-zap has priority over this alias and can avoid such risky situation
	zap = ! "echo \"\\\"git zap\\\" command disabled.\""
#	citool = gui citool
[push]
	default = simple

# salsa shorthand and push trouble evasion
# $ git config --global url."git@salsa.debian.org:".pushInsteadOf "https://salsa.debian.org/"
# $ git config --global url."git@salsa.debian.org:".insteadOf salsa:
[url "git@salsa.debian.org:"]
	pushInsteadOf = https://salsa.debian.org/
	insteadOf = salsa:

# github shorthand and push trouble evasion
# $ git config --global url."git@github.com:".pushInsteadOf "https://github.com/"
# $ git config --global url."git@github.com:".insteadOf github:
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	insteadOf = github:

# https://docs.github.com/en/get-started/getting-started-with-git/configuring-git-to-handle-line-endings
[core]
	autocrlf = false

[pull]
	rebase = true
[init]
	defaultBranch = main
  # For `dgit` operation unset `defaultBranch = main`

